      body {background: #2E5A69 !important;}
      .text-primary{color:#F7F7F7 !important;}
      .tabList{background :#F7FAFB !important;}
      .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
            border-color: #8a644b;
            border-bottom-color: transparent;
      }
      .nav-tabs{
       border-bottom: 1px solid #d45500;
      }
      .listTop{
          background-color: #99B2DD !important;
      }
      .ul{
          list-style-type: none;
      }
      .tableGroup{
          background-color:#eceddc;
      }
      .internalList{
          height:100px;
          overflow-y:scroll;
      }

      #selectAll{
          width : 1%;
      }
      #linkName{
          width : 13%;
      }
      #linkURL{
          width : 86%;
      }
      #savedGroupTab{
          padding-left: 30px;
      }
      #addButton{
          margin-left: 100px;
      }
      i{
          padding-left: 20px;
      }